@charset "UTF-8";
#container{
	background-color: #00000d;
	color: white;
	width: 100%;
}
#text-1{
	/* border: solid 1px red; */
	position: relative;
	background-image: url("../../images/carDetail/g70_SHOOTING_BRAKE/1.jpg");
	height: 900px;
	overflow: hidden;
	background-position: center;
}
#carname{
	/* border: solid 1px red; */
	padding-top: 32%;
	padding-left: 2%;
}
#text-2{
	/* border: solid 1px red; */
	position: relative;
	background-image: url("../../images/carDetail/g90_LONG_WHEEL_BASE/2.jpg");
	height: 600px;
	background-position: center;
	padding-top: 18%;
	padding-left: 2%;
	margin: 2% 0;
}

#text-3{
	/* border: solid 1px red; */
	position: relative;
	background-image: url("../../images/carDetail/g90_LONG_WHEEL_BASE/3.jpg");
	height: 600px;
	background-position: center;
	padding-top: 18%;
	padding-left: 2%;
	margin: 2% 0;
}

#text-4{
	/* border: solid 1px red; */
	position: relative;
	background-image: url("../../images/carDetail/g90_LONG_WHEEL_BASE/4.jpg");
	height: 600px;
	background-position: center;
	padding-top: 23%;
	padding-left: 2%;
	margin: 2% 0;
}

#text-5{
	/* border: solid 1px red; */
	position: relative;
	background-image: url("../../images/carDetail/g90_LONG_WHEEL_BASE/5.jpg");
	height: 600px;
	background-position: center;
	padding-top: 21%;
	padding-left: 2%;
}
#title{
	/* border: solid 1px red; */
	position: relative;
	bottom: 270px;
	left: 50px;
	width: 60%;
}

#goDrivetry{
	position: relative;
	left: 150px;
	bottom: 23px;
}

#spec{
	/* border: solid 1px red; */
	text-align: center;
	padding-top: 5%;
}
#carsize{
	/* border: solid 1px red; */
	text-align: center;
}
#carsize img{
	/* border: solid 1px red; */
	display: inline-block;
	margin-right: 2%;
	margin-left: 2%;
}

/* 표 */
.tg {
	width: 100%;
	border-collapse: collapse;
	margin-top: 5%;
}
.tg th,
.tg td{
	border-bottom: 1px solid #ccc;
	text-align: left;
	padding: 40px 0;
	width: 100%; /* 전체 셀 너비를 100%로 설정 */
	box-sizing: border-box; /* 패딩과 보더를 포함하여 너비를 계산 */
	text-align: center;
	font-size: 25pt;
}

.tg em{
	color:black;
	font-size: 10pt;
	font-style: normal !important; 
}