@charset "UTF-8";
#container{
	background-color: #00000d;
	color: white;
	width: 100%;
	overflow: hidden;
}
/* 비디오 세팅 시작 */
#goDrivetry{
	/* border: solid 1px red; */
	position: relative;
	left: 150px;
	bottom: 23px;
}
#title{
	/* border: solid 1px red; */
	position: relative;
	bottom: 360px;
	left: 50px;
	width: 60%;
}

#video{
	position: blocked; /* 혹은 absolute, 요소의 위치를 고정 */
	width: 100%;
	overflow: hidden; /* 화면 밖으로 나가는 부분 숨기기 */
}
/* 비디오 세팅 끝 */

/* 배경 세팅 시작 */
#background-image-2{
	margin: 2% 0;
	padding: 0;
	height: 100vh;
	background-image: url('../../images/carDetail/g90/0.jpg');
	background-size: cover; /* 이미지가 전체 화면을 채우도록 설정 */
	background-position: center; /* 이미지가 중앙에 위치하도록 설정 */
	background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
}
#background-image-3{
	margin: 2% 0;
	padding: 0;
	height: 100vh;
	background-image: url('../../images/carDetail/g90/1.jpg');
	background-size: cover; /* 이미지가 전체 화면을 채우도록 설정 */
	background-position: center; /* 이미지가 중앙에 위치하도록 설정 */
	background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
}
#background-image-4{
	margin: 2% 0;
	padding: 0;
	height: 100vh;
	background-image: url('../../images/carDetail/g90/2.jpg');
	background-size: cover; /* 이미지가 전체 화면을 채우도록 설정 */
	background-position: center; /* 이미지가 중앙에 위치하도록 설정 */
	background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
}
#background-image-5{
	margin: 2% 0;
	padding: 0;
	height: 100vh;
	background-image: url('../../images/carDetail/g90/3.jpg');
	background-size: cover; /* 이미지가 전체 화면을 채우도록 설정 */
	background-position: center; /* 이미지가 중앙에 위치하도록 설정 */
	background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
}
#background-image-6{
	margin: 2% 0;
	padding: 0;
	height: 100vh;
	background-image: url('../../images/carDetail/g90/4.jpg');
	background-size: cover; /* 이미지가 전체 화면을 채우도록 설정 */
	background-position: center; /* 이미지가 중앙에 위치하도록 설정 */
	background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
}
#background-image-7{
	margin: 2% 0;
	padding: 0;
	height: 100vh;
	background-image: url('../../images/carDetail/g90/5.jpg');
	background-size: cover; /* 이미지가 전체 화면을 채우도록 설정 */
	background-position: center; /* 이미지가 중앙에 위치하도록 설정 */
	background-repeat: no-repeat; /* 이미지가 반복되지 않도록 설정 */
}
/* 배경 세팅 끝 */


/* 글자 세팅 시작 */
#text-2{
	/* border: solid 1px red; */
	position: relative;
	top: 70%;
	left: 7%;
	width: 60%;
	/* transform: translateY(-50%); */
}
#text-3{
	/* border: solid 1px red; */
	position: relative;
	top: 70%;
	left: 7%;
	width: 60%;
	/* transform: translateY(-50%); */
}

#text-4{
	/* border: solid 1px red; */
	position: relative;
	top: 70%;
	left: 7%;
	width: 60%;
	/* transform: translateY(-50%); */
}

#text-4-1{
		/* border: solid 1px red; */
		position: relative;
		bottom: 6%;
		left: 70%;
		width: 60%;
		/* transform: translateY(-50%); */
}
#text-5{
	/* border: solid 1px red; */
	position: relative;
	top: 70%;
	left: 7%;
	width: 60%;
	/* transform: translateY(-50%); */
}
#text-6{
	/* border: solid 1px red; */
	position: relative;
	top: 15%;
	left: 7%;
	width: 60%;
}
#text-7{
	/* border: solid 1px red; */
	position: relative;
	top: 10%;
	left: 7%;
	width: 60%;
	/* transform: translateY(-50%); */
}
/* 글자 세팅 끝 */

/* 기타 */
#exp-1{
	/* border: solid 1px red; */
	padding: 500pt 0pt;
	margin-left: 3%;
}
#text-1 > h1{
	/* border: solid 1px red;  */
	position: relative;
	bottom: 275px;
}
#spec{
	/* border: solid 1px red; */
	text-align: center;
	padding-top: 5%;
	height: 1500pt;
}
#carsize{
	/* border: solid 1px red; */
	text-align: center;
}
#carsize img{
	/* border: solid 1px red; */
	display: inline-block;
	margin-right: 2%;
	margin-left: 2%;
}

/* 표 */
.tg {
	width: 50%;
	border-collapse: collapse;
	margin-top: 5%;
}
.tg-2{
	/* border: solid 1px red; */
	position: relative;
	left: 50%;
	bottom: 888pt;
}
.tg th,
.tg td{
	border-bottom: 1px solid #ccc;
	text-align: left;
	padding: 40px 0;
	width: 100%; /* 전체 셀 너비를 100%로 설정 */
	box-sizing: border-box; /* 패딩과 보더를 포함하여 너비를 계산 */
	text-align: center;
	font-size: 25pt;
}

.tg em{
	color:black;
	font-size: 10pt;
	font-style: normal !important; 
}
.explanation-summary{
	position: relative;
	bottom: 880pt;
}