@charset "UTF-8";

div.body {
	border:solid 0px blue;
	background-color: white;	
}

div.Title {
	border-bottom:solid 1px rgb(48, 47, 47);
	font-size: 30pt;
	font-weight: lighter;
	margin-top: 100px;
	margin-left: 200px;
}

div.myPaper{
	width:80%;
	margin: auto;
}

button.btn{
	border:solid 0px green;
	width:100%;
}

div.carname {
	border:solid 0px red;
	width:10%;
	font-size: 15pt;
	font-weight: bord;
}

div.powerTitle{
	border:solid 0px red;
	font-size: 15pt;
	width:35%;
}

div.outcolorTitle{
	border:solid 0px red;
	font-size: 15pt;
	width:15%;
}

div.incolorTitle{
	border:solid 0px red;
	font-size: 15pt;
	width:35%;
}

div.card{
	border:solid 0px red;
	height:auto;
}

div.detail_paper{
	border-bottom:solid 1px rgb(73, 73, 73);
	font-size: 25pt;
	font-weight: lighter;
	color:rgb(63, 63, 63);
	margin-left: 20px;
}

div.detail_choice_car{
	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: solid 1px rgb(73, 73, 73);
}

div.carName{
	border:solid 0px red;
	font-size: 60pt;
	font-weight: lighter;
	margin-left: 20px;
}

img.detail_car_img{
	border:solid 0px red;
	width:40%;
	margin-left: 100px;
}

div.detail_paper_flex{
	border-bottom: solid 1px rgb(73, 73, 73);
	display: flex;
	padding-top: 20px;
	padding-bottom: 20px;
}

img.detail_paper_img{
	width:100px;
}

div.detail_paper_title{
	border:solid 0px red;
	font-size: 18pt;
	margin-top: 35px;
	margin-left: 25px;
	width:60%;
	color:rgb(83, 83, 83);
}

div.detail_paper_price{
	border:solid 0px red;
	font-size: 18pt;
	margin-top: 35px;
	width:30%;
	color:rgb(83, 83, 83);
}

div.choice_option{
	border-bottom:solid 1px rgb(173, 121, 121);
	color:rgb(173, 121, 121);
	font-size: 23pt;
	margin-top: 20px;
	margin-left: 20px;
}

div.choice_option_flex{
	display: flex;
	margin-left: 20px;
}

div.choice_option_title{
	width:70%;
	font-size: 17pt;
	color:rgb(85, 85, 85);
	margin-top: 10px;
}

div.choice_option_price{
	width:25%;
	font-size: 17pt;
	color:rgb(85, 85, 85);
	margin-top: 10px;
}