@charset "UTF-8";


body > nav {
	height: 70px;
	background-color: black;
}

body > nav.top > img {
	margin-left: 7%;
}

body > nav.bottom > ul {
	border: solid 0px red;
	width:90%;
	margin: auto;
}

body > nav.bottom > ul > li {
	border: solid 0px green;
	display: inline-block;
	margin: 0 0.5%;
}

body > nav.bottom > ul > li:nth-child(7){
	margin-left: 35%;
}

body > div#footer {
	border-top: solid 0.5px gray;
	background-color: black;
	height: 200px;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.background-image {
	background-image: url('../../images/myPage/myPageMain.png'); /* 적절한 이미지 경로로 변경 */
	background-size: cover;
	background-position: center;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

body > div.background-image > div > h1{
	position: absolute;
	top: 20%;
    left: 15%;
    color: #fff;
    font-size: 48px;
}

.btn-group {
	
	position: absolute;
    bottom: 20%; /* 하단으로 이동 */
    left: 15%; /* 좌측으로 이동 */
}

.btn {
    padding: 2% 80px;
	border: solid 1px #333;
    color: #fff;
    cursor: pointer;
    margin-right: 50px;
}

#btn1{
    background-color: white;
    color: black;
}

#btn2{
    background-color: black;
    color: white;
}

.btn:hover {
    background-color: #555;
}

