@charset "UTF-8";
#container2{
    /* border: solid 1px red; */
    width:70%;
    margin: 8% auto;
    text-align: center;
}
/* 이전 다음 버튼 시작 */
#input-button{
    /* border: solid 1px red; */
    position: relative;
}
.cta-button{
    width: 230px;
    height: 50px;
    margin-right:2%;
}

/* 이전 다음 버튼 끝 */

/* 표시작*/
/* 표 */
#applyList{
	border-collapse: collapse;
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
  }
  #applyList > tb#appCheck, #applyList th {
	border: 1px solid #a9a9a9;
	background-color: #121212;
	padding: 8px;
  }
  
  #applyList tr:nth-child(even){
	  border: 1px solid #a9a9a9;
  }
  
  #applyList th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #121212;
	color: white;
	font-weight: 300;
	font-size: 15pt;
  }

  #appCheck > tr:nth-child(1) > td:nth-child(2),
  #appCheck > tr:nth-child(2) > td:nth-child(2),
  #appCheck > tr:nth-child(3) > td:nth-child(2),
  #appCheck > tr:nth-child(4) > td:nth-child(2),
  #appCheck > tr:nth-child(5) > td:nth-child(2),
  #appCheck > tr:nth-child(6) > td:nth-child(2),
  #appCheck > tr:nth-child(1) > td:nth-child(3),
  #appCheck > tr:nth-child(2) > td:nth-child(3),
  #appCheck > tr:nth-child(3) > td:nth-child(3),
  #appCheck > tr:nth-child(4) > td:nth-child(3),
  #appCheck > tr:nth-child(5) > td:nth-child(3),
  #appCheck > tr:nth-child(6) > td:nth-child(3){
	  text-align: left;
	  padding-left: 2%;
	  color: black;
	  font-weight: 300;
	  font-size: 15pt;
	  padding-top: 1%;
	  padding-bottom: 1%;
  }
  div.cp-table__item{
	  padding-bottom: 10%;
  }

  /* 표끝 */



/* 표끝 */