
@charset "UTF-8";
#container {
	background-color: black;
	color: white;
}

#container > div > h1 > span{
	/* border: solid 1px red; */
	padding-left: 15%;
	font-weight: 300;
}
#container > div.cp-headline__text > nav{
	/* border: solid 1px red; */
	position: relative;
	left: 280px;
}
#go-event{
	height: 330px; /* 원하는 높이 */
	overflow: hidden; /* 넘치는 부분 숨기기 */
	position: relative;
} 
#go-event>img{
	height: auto; /* 이미지 높이는 자동 조절 */
	position: absolute;
	top: -330px; /* 이미지를 위로 이동하여 자르기 (필요에 따라 조정) */
}

#container > h2.el-title{
	
}
/* 표 */
#driveTry_Table{
	border-collapse: collapse;
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
  }
  #driveTry_Table > tb#addressTable, #driveTry_Table th {
	border: 1px solid #a9a9a9;
	background-color: #121212;
	padding: 8px;
  }
  
  #driveTry_Table tr:nth-child(even){
	  border: 1px solid #a9a9a9;
  }
  
  #driveTry_Table th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #121212;
	color: white;
  }
  
  #container > div > div.cp-table__item > h2{
	  text-align: left;
	  margin-left: 8%;
	  margin-top: 7%;
	  margin-bottom: 2%;
	  font-weight: 300;
  }
  #addressTable > tr:nth-child(1) > td:nth-child(2),
  #addressTable > tr:nth-child(2) > td:nth-child(2),
  #addressTable > tr:nth-child(3) > td:nth-child(2),
  #addressTable > tr:nth-child(4) > td:nth-child(2),
  #addressTable > tr:nth-child(5) > td:nth-child(2),
  #addressTable > tr:nth-child(6) > td:nth-child(2),
  #addressTable > tr:nth-child(1) > td:nth-child(3),
  #addressTable > tr:nth-child(2) > td:nth-child(3),
  #addressTable > tr:nth-child(3) > td:nth-child(3),
  #addressTable > tr:nth-child(4) > td:nth-child(3),
  #addressTable > tr:nth-child(5) > td:nth-child(3),
  #addressTable > tr:nth-child(6) > td:nth-child(3){
	  text-align: left;
	  padding-left: 2%;
	  color: white;
  }
  div.cp-table__item{
	  padding-bottom: 10%;
  }

  /* 표끝 */
