@charset "UTF-8";

body{
	background-color: #111111;
}



body > div#container {
	border: solid 0px green;
	background-color: rgb(21, 21, 21);
	color:white;
	font-stretch: condensed;
	max-width:100%;
	overflow-x:hidden;
	margin-top: 5%;
}

body > div#container > div#top_context{
	border: solid 0px yellow;
	width : 60%;
	margin: 0 auto;
}

body > div#container > div#main_top{
	border: solid 0px red;
	width : 60%;
	margin: 0 auto;
}

div#logo_image{
	height : 22px;
	width : 46px;
	margin-bottom: 8%;
	border: solid 0px blueviolet;
}

div.empty{
	height : 90px;
	border: solid 0px blueviolet;
}

button.btn-carselect {
	width : 100%;
	height: 55px;
	border : solid 1px #ffffff;/* 테두리 색상 설정 */
	color: #ffffff; /* 글자색 설정 */
}

button.btn-carselect:hover {
	background-color: #ffffff; /* 배경색 설정 */
	color: #000000; /* 호버 시 글자색 변경 */
}

body > div#container > div.main_top{
	width : 60%;
	margin : auto;
	border: solid 0px rgb(97, 228, 21);
}

body > div#container > div.main_top > div.category_main{
	display : flex;
}

body > div#container > div.main_top > div.category_main > div.car_select{
	border: solid 0px white;
	width : 20%;
	height: 260px;
	margin-right:7%;
}


body > div#container > div.bar_title > div.cm-vehicle-tab-btn > ul {
    list-style: none; /* 목록 기호 제거 */
    text-align: center; /* 가로 가운데 정렬 */
	border: solid 0px BLUE;
}

body > div#container > div.bar_title > div.cm-vehicle-tab-btn > ul > li> div.btn-wrap{
    display: inline-block; /* 인라인 요소로 배치 */
	border: solid 0px yellow;
	width: 15%;
	padding: 10px;
	height: 50px;
	font-size: medium;
	color : gray;
	cursor: pointer;
	
}

body > div#container > div.bar_title > div.cm-vehicle-tab-btn > ul > li> div.btn-wrap:hover{
	color : white;
	border-bottom: solid 1px white;
}

div.main_carPoint{
	font-size : 20px; font-weight: lighter; font-stretch: condensed;

}


a.top_button:link,
a.bar_share:link {
	color : white;
	text-decoration: none;
}
a.top_button:visited,
a.bar_share:visited {
	color : white;
	text-decoration: none;
}
a.top_button:hover,
a.bar_share:hover  {
 	color : white;
	text-decoration: none;
}
a.top_button:active,
a.bar_share:active {
	color : white;
	text-decoration: none;
  }

div.main_car_image > img{
	height:280px; 
	width:775px;
}

div.bar_image{
	height: 87px;
	width: 300px;
}

img.car_image{
	width: 100%;
	border: solid 0px yellow;
}

div.swiper-slide{
	width: 300px;
	height: 310px;
}
div.card {
	width: 300px;
	height: 310px;
	padding : 0;
	cursor: pointer;
}


span.icon img{
	width: auto;
    height: 100%;
    max-height: 17px;
    align-items: flex-end; 
}

div.vehicle_title{
	width : 82.5%;
	display: flex;
    justify-content: space-between;
    align-items: center; /* 요소들을 수직 방향으로 가운데 정렬 */
    border: solid 0px red;
}

div.brand_title{
	width : 82.5%;
	height: 17px;
	margin-bottom: 6px;
}


div.vehicle_name {
	font-size: 20px;
	color:white;
	
	text-align: left; /* 텍스트를 왼쪽 정렬 */
}

span.icon {
    text-align: right; /* 이미지를 오른쪽 정렬 */
}

.swiper-container {
    position: relative; /* 슬라이드 컨테이너를 상대적으로 위치시킵니다. */
    height :25%;
    
}
.swiper-wrapper{
	border: solid 0px green;
	margin-left: 18px;
	padding : 0;
	margin-right:0;
}

.swiper-button-prev {
    position: fixed; /* 다음 버튼을 화면에 고정 */
    z-index: 1; /* 다른 요소보다 위에 위치하도록 설정합니다. */
    left: 10px; /* 원하는 위치로 이동 */
    top: 50%; /* 세로 중앙 정렬 */
    transform: translateY(-50%); /* 수직 정렬 */
    border: solid 0px red;
}

.swiper-button-next {
    position: fixed; /* 다음 버튼을 화면에 고정 */
    z-index: 1; /* 다른 요소보다 위에 위치하도록 설정합니다. */
    right: 10px; /* 원하는 위치로 이동 */
    top: 50%; /* 세로 중앙 정렬 */
    transform: translateY(-50%); /* 수직 정렬 */
    
}

.swiper-button-disabled {
	visibility: hidden;
	opacity: 0;
}


:root {
    --swiper-theme-color: #ffffff!important;
}


div.slider_outline{
    margin: 0 auto;
    position: relative;
}

.slider_outline .swiper-container {
	position: unset;
    margin: 0 45px;
}

ul.util_list{
	list-style:none;
	width : 200px;
	border: solid 0px red;
	padding: 0;
	margin :0;
}

ul.util_list > li{
	display: inline;
	margin-right: 10%;
	padding :0;
}

div.share_bar{
	display: flex;
	margin-left: 5%;
	margin-right: 3%;
}