@charset "UTF-8";

body{
	background-color: #111111;
}

body > nav {
	height: 70px;
	background-color: black;
}

body > nav.top{
	border-bottom: solid 1px gray;
}

body > nav.top > img {
	margin-left: 7%;
}

body > nav.top > ul {
	border: solid 0px blue;
	margin-left: 1%;
	width:100%;
}

body > nav.top > ul > li:nth-child(1),
body > nav.top > ul > li:nth-child(2),
body > nav.top > ul > li:nth-child(3){
	border:solid 0px red;
	margin-left: 1%;
}

body > nav.top > ul > li:nth-child(4){
	margin-left: 60%;
}

body > nav.top > ul > li:nth-child(5),
body > nav.top > ul > li:nth-child(6){
	margin-left: 1%;
}

body > nav.bottom > ul {
	border: solid 0px red;
	width:90%;
	margin: auto;
}

body > nav.bottom > ul > li {
	border: solid 0px green;
	display: inline-block;
	margin: 0 0.5%;
}

body > nav.bottom > ul > li:nth-child(7){
	margin-left: 35%;
}

body > div#footer {
	border-top: solid 1px gray;
	background-color: black;
	height: 200px;
}

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ main silde start ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
body > div.main-page > div.carousel > div.carousel-inner p {
	font-size: 35px;
	margin-bottom: 0;
}

body > div.main-page > div.carousel > div.carousel-inner h5{
	margin-bottom: 0;
}
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ main silde end ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ our models start ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
body > div.main-page > div.our-models {
	border:solid 0px blue;
	color: white;
	margin: 10% 0;
}

body > div.main-page > div.our-models > div.our-models-inner {
	border: solid 0px green;
	width: 75%;
	margin: 0 auto;
}

body > div.main-page > div.our-models > div.dropdown {
	background-color: black;
}

div.our-model-Dropdown > a {
	color: white;
	border-bottom: solid 1px #131313;
}

div.our-model-Dropdown > a:last-child {
	border-bottom: solid 1px black;
}

@media (max-width: 768px) {
	div.our-models .carousel-inner .carousel-item > div {
		display: none;
	}
	div.our-models .carousel-inner .carousel-item > div:first-child {
		display: block;
	}
}

div.our-models .carousel-inner .carousel-item.active,
div.our-models .carousel-inner .carousel-item-next,
div.our-models .carousel-inner .carousel-item-prev {
	display: flex;
}

/* display 3 */
@media (min-width: 768px) {
	
	div.our-models .carousel-inner .carousel-item-right.active,
	div.our-models .carousel-inner .carousel-item-next {
	  transform: translateX(33.333%);
	}
	
	div.our-models .carousel-inner .carousel-item-left.active, 
	div.our-models .carousel-inner .carousel-item-prev {
	  transform: translateX(-33.333%);
	}
}

div.our-models .carousel-inner .carousel-item-right,
div.our-models .carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

div.card {
	background-color: rgb(20, 20, 20);
	height: 400px;
	padding: 30px 30px;
	margin-top: 20px;
}

h5.card-title {
	font-size: 30px;
	font-weight: lighter;
	color:rgb(141, 141, 141);
}

div.our-models .card-text {
	font-size: 15px;
	height: 15px;
	font-weight: lighter;
	color:rgb(141, 141, 141);
}

div.our-models .our-models-button {
	display: inline-block;
	background-color: black;
	width: 100%;
	color:white;
	border:solid 1px white;
	height:50px;
	margin-top: 30px;
}

div.our-models .our-models-button:hover {
	display: inline-block;
	background-color: white;
	width: 100%;
	color:black;
	height:50px;
	margin-top: 30px;
	font-weight: border;
	transition: 0.5s;
}
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ our models end ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ main middle icon start ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
div.main-middle-icon {
	border:solid 0px red;
	width: 75%;
	margin:100px auto;
	text-align: center;
}

img.icon-image {
	width: 30%;
}

div.icon-text {
	color:white;
	margin-top: 15px;
}
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ main middle icon end ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ the awards start ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */


@media (max-width: 768px) {
	div.the-awards .carousel-inner .carousel-item > div {
		display: none;
	}
	div.the-awards .carousel-inner .carousel-item > div:first-child {
		display: block;
	}
}

div.the-awards .carousel-inner .carousel-item.active,
div.the-awards .carousel-inner .carousel-item-next,
div.the-awards .carousel-inner .carousel-item-prev {
	display: flex;
}

/* display 3 */
@media (min-width: 768px) {
	
	div.the-awards .carousel-inner .carousel-item-right.active,
	div.the-awards .carousel-inner .carousel-item-next {
	  transform: translateX(33.333%);
	}
	
	div.the-awards .carousel-inner .carousel-item-left.active, 
	div.the-awards .carousel-inner .carousel-item-prev {
	  transform: translateX(-33.333%);
	}
}

div.the-awards .carousel-inner .carousel-item-right,
div.the-awards .carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}
	
div.the-awards > div > div.carousel{
	overflow: hidden;
}

div.the-awards > div > div.carousel > div.carousel-inner{
	border:solid 0px red;
	position:relative;
	width: 150%;
	left:-19%;
}

div.the-awards > div > div.carousel > div.carousel-inner .card{
	margin-top: 0;
	height:300px;
}

div.the-awards > div > div.carousel > div.carousel-inner .inner-award{
	border:solid 0px yellow;
}

div.the-awards {
	padding-top: 100px; 
	height:1200px; 
	background-size: cover; 
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
}

div.the-awards > div > div.carousel > div.carousel-inner .inner-award p.card-p1{
	color:white
}

div.the-awards > div > div.carousel > div.carousel-inner .inner-award p.card-p2{
	color:rgb(177, 177, 177);
	font-size: 10pt;
	margin-top: 20px;
}
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ the awards end ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */