
@charset "UTF-8";

body{
	background-color: #111111;
}

body > nav {
	height: 70px;
	background-color: black;
}

body > nav.top{
	border-bottom: solid 1px gray;
}

body > nav.top > img {
	margin-left: 7%;
}

body > nav.top > ul {
	border: solid 0px blue;
	margin-left: 1%;
	width:100%;
}





.nav-item > a{
	border: solid 0px pink;
}

#nav-item2 > a{
	border: solid 0px red;
}

#nav-item3 > a{
	border: solid 0px pink;
}


header#header{
	border: solid 0px pink;
	width: 100%;
}


#\31  > ul{
	width: 1500px;
}


#sub-menu1{
	display: none;
	position: absolute;
	background-color: #141414;
	width: 700%;    
	height: 2300%;    
	left:-70%;
	top: 135%;
	z-index: 1;
	overflow-y: auto; /* 세로 스크롤이 필요한 경우 스크롤이 표시됩니다. */
}

#sub-menu2{
	display: none;
	position: absolute;
	background-color: #141414;
	width: 550%;    
	height: 590%;    
	left:-61%;
	top: 135%;
	z-index: 1;
	overflow-y: auto; /* 세로 스크롤이 필요한 경우 스크롤이 표시됩니다. */
    max-height: 590%; /* 최대 높이를 지정합니다. */
}


#sub-menu3{
	display: none;
	position: absolute;
	background-color: #141414;
	width: 550%;    
	height: 640%;    
	left:-61%;
	top: 135%;
	z-index: 1;
	overflow-y: auto; /* 세로 스크롤이 필요한 경우 스크롤이 표시됩니다. */
    max-height: 640%; /* 최대 높이를 지정합니다. */
}



#sidebar-wrapper {
	border: solid 0px pink;
	width: 3%;
	margin-left: 3.7%;
	margin-top: 0.6%;
}

#sidebar-wrapper > ul{
	border: solid 0px white;
	width: 30%;
	margin-left: 7%;
	margin-top: 3%;
	list-style: none;
}

#sidebar-wrapper > ul > li{
	margin-bottom: 25%;
	font-weight: 500;
	color: white;
	font-family: 'Malgun Gothic', sans-serif;
}

#sidebar-wrapper > ul > li > a {
	text-decoration: none; /* 밑줄 제거 */
	color: #cccccc; /* 텍스트 색상 변경 */
	font-size: large;
	font-weight: 475;
	font-family: "Arial", sans-serif;
}

a#geon {
	text-decoration: none; /* 밑줄 제거 */
	color: #cccccc; /* 텍스트 색상 변경 */
	font-size: large;
	font-weight: 475;
	font-family: "Arial", sans-serif;
}

a#purchase {
	color: white; /* 텍스트 색상 변경 */

	font-weight: 400;
	font-family: "Arial", sans-serif;
}

#sidebar-wrapper > li a:hover {
	text-decoration: none; /* 밑줄 제거 */
	color: white; /* 텍스트 색상 변경 (원하는 색상으로 수정 가능) */
}

.vertical-line {
    border-left: 0.2px solid #404040; /* 세로 선 스타일 */
    height: 120%; /* 세로 선의 높이, 화면 전체 높이로 설정 */
    margin-left: 50%; /* 사이드바 너비 + 오른쪽 여백만큼 세로 선을 오른쪽으로 옮김 */
    opacity: 0.3;
}


.custom-button {
	border: solid 1px white;
    display: inline-block;
    background-color: #0d0d0d;
	width: 102%;
    color: white;
    font-size: 14px; 
    padding: 5.5% 5.5%; /* 위아래 0.5rem, 좌우 1rem */
    text-decoration: none; /* 링크 밑줄 제거 */
    margin-top: 9%;
	text-align: center;
}

.custom-button:hover {
    background-color: white; /* 마우스 호버 시 배경색 변경 */
	color: #404040;
	text-decoration: none; /* 밑줄 제거 */
}

body > nav.navbar.navbar-expand-sm.navbar-dark.fixed-top.top > header > div > div > ul > li:nth-child(1) > ul > div > div:nth-child(2) > div{
	font-size: 15px;
	font-weight: 500;
	margin-left: 0%;
	border: solid 0px white;
	width: 100%;
	size: 10%;
	padding-left: -15%;
}






















body > nav.bottom > ul {
	border: solid 0px red;
	width:90%;
	margin: auto;
}

body > nav.bottom > ul > li {
	border: solid 0px green;
	display: inline-block;
	margin: 0 0.5%;
}

body > nav.bottom > ul > li:nth-child(7){
	margin-left: 35%;
}

body > div#footer {
	border-top: solid 1px gray;
	background-color: black;
	height: 200px;
}












/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ main silde start ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
body > div.main-page > div.carousel > div.carousel-inner p {
	font-size: 35px;
	margin-bottom: 0;
}

body > div.main-page > div.carousel > div.carousel-inner h5{
	margin-bottom: 0;
}
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ main silde end ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ our models start ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
body > div.main-page > div.our-models {
	border:solid 0px blue;
	color: white;
	margin: 10% 0;
	width : 100%;
}

body > div.main-page > div.our-models > div.our-models-inner {
	border: solid 0px green;
	width: 75%;
	margin: 0 auto; 
}

body > div.main-page > div.our-models > div.dropdown {
	background-color: black;
}

div.our-model-Dropdown > a {
	color: white;
	border-bottom: solid 1px #131313;
}

div.our-model-Dropdown > a:last-child {
	border-bottom: solid 1px black;
}

@media (max-width: 768px) {
	div.our-models .carousel-inner .carousel-item > div {
		display: none;
	}
	div.our-models .carousel-inner .carousel-item > div:first-child {
		display: block;
	}
}

div.our-models .carousel-inner .carousel-item.active,
div.our-models .carousel-inner .carousel-item-next,
div.our-models .carousel-inner .carousel-item-prev {
	display: flex;
}

/* display 3 */
@media (min-width: 768px) {
	
	div.our-models .carousel-inner .carousel-item-right.active,
	div.our-models .carousel-inner .carousel-item-next {
	  transform: translateX(33.333%);
	}
	
	div.our-models .carousel-inner .carousel-item-left.active, 
	div.our-models .carousel-inner .carousel-item-prev {
	  transform: translateX(-33.333%);
	}
}

div.our-models .carousel-inner .carousel-item-right,
div.our-models .carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

div.card {
	background-color: rgb(20, 20, 20);
	height: 400px;
	padding: 30px 30px;
	margin-top: 20px;
}

h5.card-title {
	font-size: 30px;
	font-weight: lighter;
	color:rgb(141, 141, 141);
}

div.our-models .card-text {
	font-size: 15px;
	height: 15px;
	font-weight: lighter;
	color:rgb(141, 141, 141);
}

div.our-models .our-models-button {
	display: inline-block;
	background-color: black;
	width: 100%;
	color:white;
	border:solid 1px white;
	height:50px;
	margin-top: 30px;
}

div.our-models .our-models-button:hover {
	display: inline-block;
	background-color: white;
	width: 100%;
	color:black;
	height:50px;
	margin-top: 30px;
	font-weight: border;
	transition: 0.5s;
}
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ our models end ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ main middle icon start ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
div.main-middle-icon {
	border:solid 0px red;
	width: 75%;
	margin:100px auto;
	text-align: center;
}

img.icon-image {
	width: 30%;
}

div.icon-text {
	color:white;
	margin-top: 15px;
}
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ main middle icon end ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ the awards start ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */


@media (max-width: 768px) {
	div.the-awards .carousel-inner .carousel-item > div {
		display: none;
	}
	div.the-awards .carousel-inner .carousel-item > div:first-child {
		display: block;
	}
}

div.the-awards .carousel-inner .carousel-item.active,
div.the-awards .carousel-inner .carousel-item-next,
div.the-awards .carousel-inner .carousel-item-prev {
	display: flex;
}

/* display 3 */
@media (min-width: 768px) {
	
	div.the-awards .carousel-inner .carousel-item-right.active,
	div.the-awards .carousel-inner .carousel-item-next {
	  transform: translateX(33.333%);
	}
	
	div.the-awards .carousel-inner .carousel-item-left.active, 
	div.the-awards .carousel-inner .carousel-item-prev {
	  transform: translateX(-33.333%);
	}
}

div.the-awards .carousel-inner .carousel-item-right,
div.the-awards .carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}
	
div.the-awards > div > div.carousel{
	overflow: hidden;
}

div.the-awards > div > div.carousel > div.carousel-inner{
	border:solid 0px red;
	position:relative;
	width: 150%;
	left:-19%;
}

div.the-awards > div > div.carousel > div.carousel-inner .card{
	margin-top: 0;
	height:300px;
}

div.the-awards > div > div.carousel > div.carousel-inner .inner-award{
	border:solid 0px yellow;
}

div.the-awards {
	padding-top: 100px; 
	height:1200px; 
	background-size: cover; 
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
}

div.the-awards > div > div.carousel > div.carousel-inner .inner-award p.card-p1{
	color:white
}

div.the-awards > div > div.carousel > div.carousel-inner .inner-award p.card-p2{
	color:rgb(177, 177, 177);
	font-size: 10pt;
	margin-top: 20px;
}
/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ the awards end ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */

/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ customer's voice start ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */
div.customer-voice {
	height: 960px;
}

button.customer-voice-button{
	margin-left: 200px;
	margin-top: 20px;
	width: 250px;
	height:50px;
	background-color: rgba(0,0,0,0);
	border:solid 2px white;
	color:white;
}

button.customer-voice-button:hover{
	margin-left: 200px;
	margin-top: 20px;
	width: 250px;
	height:50px;
	background-color: rgb(255, 255, 255);
	border:solid 2px rgb(255, 255, 255);
	color:rgb(0, 0, 0);
	font-weight: bolder;
	transition:0.5s;
}/* ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ customer's voice end ■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■ */