<<<<<<< HEAD

@charset "UTF-8";

#backgroundVideo {
	position: fixed; /* 혹은 absolute, 요소의 위치를 고정 */
	right: 0;
	bottom: 0;
	min-width: 100%; /* 최소 너비를 화면 너비와 같게 설정 */
	min-height: 100%; /* 최소 높이를 화면 높이와 같게 설정 */
	width: auto; /* 자동으로 너비 조정 */
	height: auto; /* 자동으로 높이 조정 */
	z-index: -100; /* 다른 요소들 뒤로 보내기 */
	background-size: cover; /* 비디오가 화면을 꽉 채우도록 조정 */
	overflow: hidden; /* 화면 밖으로 나가는 부분 숨기기 */
  }

#container{
	background-color: black;
	color: white;
}
#spaceVideo {
	position: blocked; /* 혹은 absolute, 요소의 위치를 고정 */
	width: 100%;
	overflow: hidden; /* 화면 밖으로 나가는 부분 숨기기 */
  }
#head-text{
	text-align: center;
}
#head-text > p.display-pc{
	font-size: 36pt;
	font-weight: 300;
}
#head-text > p.el-desc{
	color:#D5D5D5;
}

#space-dropdown{
	border: solid 1px red;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}
#space-name{
	/* border: solid 1px red; */
	font-size: 80px;
	font-weight: 100;
}
#space-hanam > div,
#space-gangnam,
#space-suji > div,
#space-anseong > div{
	/* border: solid 1px red; */
	text-align: left;
	padding-bottom: 470px;
}

=======
@charset "UTF-8";

@charset "UTF-8";

#container{
	background-color: black;
	color: white;
}
#spaceVideo {
	position: blocked; /* 혹은 absolute, 요소의 위치를 고정 */
	width: 100%;
	overflow: hidden; /* 화면 밖으로 나가는 부분 숨기기 */
  }
#head-text{
	text-align: center;
}
#head-text > p.display-pc{
	font-size: 36pt;
	font-weight: 300;
}
#head-text > p.el-desc{
	color:#D5D5D5;
	
}

#space-dropdown{
/* 	border: solid 1px red; */
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}
#space-name{
	/* border: solid 1px red; */
	font-size: 80px;
	font-weight: 100;
}
#space-hanam > div,
#space-gangnam,
#space-suji > div,
#space-anseong > div{
	/* border: solid 1px red; */
	text-align: left;
	padding-bottom: 470px;
}

#space-info > a.carousel-control-prev > span.carousel-control-prev-icon,
#space-info > a.carousel-control-next > span.carousel-control-next-icon{
	/* border: solid 1px red; */
	width: 100px;
	height: 100px;
	transform: scaleX(0.7); /* 가로 비율을 0.5로 축소 */
	background-size: 100px 100px; 
}
#space-dropdown{
	width:24%;
	border-bottom: solid 1px white; 
}
>>>>>>> refs/heads/kimdh
