@charset "UTF-8";

#backgroundVideo {
	position: fixed; /* 혹은 absolute, 요소의 위치를 고정 */
	right: 0;
	bottom: 0;
	min-width: 100%; /* 최소 너비를 화면 너비와 같게 설정 */
	min-height: 100%; /* 최소 높이를 화면 높이와 같게 설정 */
	width: auto; /* 자동으로 너비 조정 */
	height: auto; /* 자동으로 높이 조정 */
	z-index: -100; /* 다른 요소들 뒤로 보내기 */
	background-size: cover; /* 비디오가 화면을 꽉 채우도록 조정 */
	overflow: hidden; /* 화면 밖으로 나가는 부분 숨기기 */
  }