@charset "UTF-8";
body {
    overflow:hidden ;
}


body > nav > div {
	border:solid 0px red;
	width: 10%;
}

body > nav > div > span.model-name{
	color:rgb(209, 209, 209);
	font-size: 20pt;
}

body > nav.top > ul {
	border:solid 0px blue;
	margin: 0 auto;
}

body > nav.top > ul > li {
	font-size: 15pt;
	margin: 0 10px 0 10px;
}

body > nav > ul > span{
	border:solid 0px red;
	height:35px;
	margin: auto;
	color:rgb(197, 197, 197);
	font-size: 17pt;
}

body{
	background-color: #111111;
}

body > nav {
	height: 70px;
	background-color: black;
}

body > nav.top{
	border-bottom: solid 1px gray;
}

body > nav.bottom > ul {
	border: solid 0px red;
	width:90%;
	margin: auto;
}

body > nav.bottom > ul > li {
	border: solid 0px green;
	display: inline-block;
	margin: 0 0.5%;
}

body > div#footer {
	border-top: solid 1px gray;
	background-color: black;
	height: 200px;
}

div.body {
    border:solid 0px red;
    height:840px;
    display: flex;
}

div.option {
    font-size: 10pt;
    color: rgb(167, 167, 167);
    width:100%;
}

div.optionVal{
    font-size: 35pt;
    color:white;
    font-weight: lighter;
    width:100%;
}

.gap{
    margin:auto;
}

.tab {
    border:solid 0px red;
    float: right;
    border-left: 1px solid #555555;
    background-color: rgb(0,0,0,0);
    width: 30%;
    height: 830px;
 }

div.outColor{
    color:rgb(175, 117, 62);
    font-size: 20pt;
    font-weight: lighter;
    text-align: left;
    border-bottom:solid 1px #383838;
    border:solid 0px red;
    margin:100px 10% 0 10%;
}

div.card-header{
    border: solid 0px red;
    opacity:30%;
}

div.card-header:hover{
    cursor: pointer;
    color:white;
    opacity: 100%;
}

div.option_title{
    font-weight: bold;
}

.scrollbar::-webkit-scrollbar {
    width: 7px;
 }
 .scrollbar::-webkit-scrollbar-thumb {
    background-color: #747474;
    border-radius: 8px;
 }
 .scrollbar::-webkit-scrollbar-track {
    background-color: rgba(0,0,0,0);
 }

div.price{
    padding: 3%;
    border-top:solid 1px #383838;
    width:29%;
    position: absolute;
    bottom:0;
    height:250px;
}

div.total_price{
    color:white;
    font-size:25pt;
}

button.before {
    background-color:  rgb(0,0,0,0);
    border:solid 1px white;
    color:white;
    width:30%;
    height:50px;
    margin:20px 0 0 0;
}

button.before:hover {
    background-color:  rgb(255, 255, 255);
    border:solid 1px rgb(0, 0, 0);
    color:rgb(0, 0, 0);
    width:30%;
    height:50px;
    margin:20px 0 0 0;
    transition:0.2s;
}

button.after {
    background-color:  rgb(255, 255, 255);
    border:solid 1px rgb(0, 0, 0);
    color:rgb(0, 0, 0);
    width:30%;
    height:50px;
    margin:20px 0 0 0;
}

button.after:hover {
    background-color:  rgb(0, 0, 0);
    border:solid 1px rgb(255, 255, 255);
    color:rgb(255, 255, 255);
    width:30%;
    height:50px;
    margin:20px 0 0 0;
    transition:0.2s;
}

.choicePower > a {
    font-weight: bold;
}

.btn{
    border-bottom: solid 1px #383838;
    width:100%;
    text-align: left;
}

.card-body {
    color:white;
}

input.input_radio{
    display:none;
    text-align: center;
}

i.check_option{
    border:solid 1px rgba(0,0,0,0);
    border-radius: 50%;
    opacity:100%;
    background-color: white;
    color:black;
}
div.optionMain{
    border:solid 0px blue;
    width:100%;
    padding-top: 100px;
}

div.option_main_flex{
    display: flex;
}

div.body > div.optionMain > img{
    border:solid 1px red;
    width:60%;
    height:500px;
    margin-left: 5%;
}

ul#MainInnerUl{
    display: inline-block;
    width:20%;
    margin-top: 100px;
}

li.inner_main_option_detail{
    list-style: '| ';
    opacity: 30%;
}

li.inner_main_option_detail:hover{
    cursor: pointer;
    opacity: 100%;
}

div.option_main_detail_desc{
    margin-left: 25%;
    opacity:100%;
    color:rgb(124, 124, 124);
    width:50%;
}

input.exit{
    margin-top: 100px;
    background-color: white;
    border:solid 1px black;
    border-radius: 4px;
    color:black;
    width:150px;
    height: 50px;
}

input.cancle{
    margin-top: 100px;
    border:solid 1px white;
    background-color: black;
    border-radius: 4px;
    color:white;
    width:150px;
    height: 50px;
}

input.exit:hover{
    border:solid 1px white;
    background-color: black;
    color:white;
    transition:0.5s;
}

input.cancle:hover{
    background-color: white;
    border:solid 1px black;
    color:black;
    transition:0.5s;
}